@font-face {
    font-family: "Graphik";
    src: url(../fonts/Graphik-Regular.ttf);
}

@font-face {
    font-family: "Graphik Bold";
    src: url(../fonts/Graphik-Bold.ttf);
}

* {
    box-sizing: border-box;
}



body, 
html {
    font-family: "Graphik";
    height: 100%;
    width: 100%;
    margin: 0;
    
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
}

h2, h3{
    margin: 0;
}

.container{
    width: 1240px;
    margin: 0 auto;
}

